<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head>

	<title>Adessi Air - Flug buchen</title>
	<link href="css/chickenwings.css" rel="stylesheet" type="text/css" />
</h:head> 
<body>

	<div id="buchungPage">
		<h:form>
		
			<a4j:outputPanel id="buchung">
			
				<div class="container">
					<div class="text">Startflughafen</div>
					<h:outputText styleClass="input" value="#{flugManager.flug.startFlughafen}" />
				</div>
				
				<div class="container">
					<div class="text">Abflug</div>
					<h:outputText styleClass="input" value="#{flugManager.flug.startzeit}" >
						<f:attribute name="pattern" value="MM.dd.yyyy HH:mm:ss"/>
					</h:outputText>
				</div>
				
				<div class="container">
					<div class="text">Zielflughafen</div>
					<h:outputText styleClass="input" value="#{flugManager.flug.zielFlughafen}" />
				</div>
				
				
				<div class="container">
					<div class="text">Ankunft</div>
					<h:outputText styleClass="input" value="#{flugManager.flug.ankunft}" >
						<f:attribute name="pattern" value="MM.dd.yyyy HH:mm:ss"/>
					</h:outputText>
				</div>
				
				<div class="container">
					<div class="text">Kategorie</div>
					<h:selectOneListbox styleClass="input" value="#{flugManager.buchung.kategorie}">
						<f:selectItems value="#{flugManager.getKategorien()}"/>			
					</h:selectOneListbox>
				</div>
			
				<rich:dataTable value="#{flugManager.buchung.fluggaeste}"
								var="item"
								rendered="#{flugManager.buchung.fluggaeste.size() gt 0}">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Vorname" />
						</f:facet>
						<h:outputText value="#{item.vorname}" />
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<h:outputText value="#{item.name}" />
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Geburtsdatum" />
						</f:facet>
						<h:outputText value="#{item.geburtsdatum}" >
							<f:attribute name="pattern" value="dd.MM.yyyy"/>
						</h:outputText>
					</rich:column>
					
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Terrorist" />
						</f:facet>
						<h:selectBooleanCheckbox value="#{item.terrorist}" disabled="true" />
					</rich:column>
					
				</rich:dataTable>
			
			    <a4j:outputPanel rendered="#{flugManager.fluggast ne null}">
			    
			    	<div style="width: 250px; margin-left: 50px;">
			    	<hr />
				    	<div class="container">
				    		<div class="text">Name</div> 
				      		<h:inputText value="#{flugManager.fluggast.name}" />
				      	</div>
				      	
				      	<div class="container">
				    		<div class="text">Vorname</div> 
				      		<h:inputText value="#{flugManager.fluggast.vorname}" />
				      	</div>
				      	
				      	<div class="container">
				    		<div class="text">Geburtsdatum</div> 
				      		<rich:calendar value="#{flugManager.fluggast.geburtsdatum}"/>
				      	</div>
				      	
				      	<div class="container">
				    		<div class="text">Terrorist</div> 
				      		<h:selectBooleanCheckbox value="#{flugManager.fluggast.terrorist}" />
				      	</div>
				      	
				      	<a4j:commandButton action="#{flugManager.fuegePasagierHinzu()}" 
				      						value="Passagier hinzufügen" 
				      						render="buchung, buchungButton, neuerPassagier" 
				      						style="float:right"/>
				      	<div style="clear: both;"/>
			      		<hr />
		      		</div>
				</a4j:outputPanel>
			
				<br />
				<br />
				Der Gesamtpreis beläuft sich auf:
				<h:outputText value="#{flugManager.ermittelGesamtpreis()}" id="gesamtpreis" >
					<f:convertNumber pattern="#,###,##0.00 &#x20ac;" />
				</h:outputText>
				
		</a4j:outputPanel>
		
		<br />
		<br />
		<a4j:commandButton action="#{flugManager.neuerPasagier()}" 
							value="Neuer Passagier" 
							id="neuerPassagier" 
							render="buchung" 
							disabled="#{flugManager.fluggast ne null}"
							style="float:right"/>
		<div style="clear:both;"></div>
		<br />
		
		
		<br/>
		<br/>
		
		<a4j:commandButton action="#{flugManager.buchungAbschliessen()}" 
							id="buchungButton" 
							value="Buchung abschließen" 
							disabled="#{flugManager.checkButtonDisabled()}"
							style="float:right"/>
		
		
		</h:form>
	</div>
</body> 
</html>
