<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head>
	<title>Adessi Air - Login</title>
	<link href="css/chickenwings.css" rel="stylesheet" type="text/css" />
</h:head> 

<body>
	
	<div id="loginPage">
		<h:form>
			<h:outputText value="Benutzername" style="padding-bottom: 5px;"/><br />
			<h:inputText value="#{flugManager.benutzerName}" />
			<p />
			<h:outputText value="Chickenwings Version 1.4" style="padding-bottom: 5px;"/> <br />
			<h:outputText value="#{flugManager.versionText}" style="padding-bottom: 5px;"/> <br />
			<p/>
			<h:commandButton value="Login" action="#{flugManager.login()}" style="float: right;"/>
		</h:form>
	</div>
</body> 
</html>
