.text{
	width: 120px;
	float:left;
}

.input{
	
}

.container{
	padding: 5px;
}

#loginPage{
	width: 200px;
	margin:0 auto;
	margin-top: 250px;
	padding: 20px;
	background-image: -webkit-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: -moz-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: -o-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: linear-gradient(white 0%, #9FBFD2 100%);">
}

#mainPage{
	width: 700px;
	margin:0 auto;
	margin-top: 250px;
	padding: 20px;
	background-image: -webkit-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: -moz-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: -o-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: linear-gradient(white 0%, #9FBFD2 100%);
	min-height: 400px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

#buchungPage{
	width: 700px;
	margin:0 auto;
	margin-top: 250px;
	padding: 20px;
	background-image: -webkit-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: -moz-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: -o-linear-gradient(white 0%, #9FBFD2 100%); 
	background-image: linear-gradient(white 0%, #9FBFD2 100%);
	min-height: 400px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

body { 
 font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
}

hr{
	background-color: #FFFFFF !important;
	border-color: #FFFFFF !important;
}